<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="DIResolverPath" value="C:\Users\Suvendu Pakui\Source\Repos\OpManager\OpMgr.TransactionHandler.Runner\DependencyResolver.xml"/>
    <add key="LogPath" value="C:\Users\Suvendu Pakui\Source\Repos\OpManager\OpMgr.TransactionHandler.Runner\OpMgr.log"/>
    <add key="StudentBulkUploadExcelFilePath" value="C:\StudentBulkUpload"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="connString" connectionString="server=localhost;user id=root;password=test;database=operationsmanager" providerName="MySql.Data.MySqlClient" />-->
    <add name="connString" connectionString="server=35.162.173.249;user id=school;password=password;database=operationsmanager" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
