<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="connString" connectionString="server=localhost;user id=root;password=test;database=operationsmanager" providerName="MySql.Data.MySqlClient" />-->
    <add name="connString" connectionString="server=35.162.173.249;user id=school;password=password;database=operationsmanager" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>