
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head >    
    <image src="~/Images/schoollogo.png"></image>
    
</head>
<body style="background-image:url(schoolbuilding.jpg); background-repeat:no-repeat">
    <image src="~/Images/schoolbuilding.jpg" style="width:100%"></image>  
</body>
</html>

