<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="CONN_STR" connectionString="server=35.162.173.249;user id=school;password=password;database=operationsmanager" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="TEMP_TABLE_QUERY" value="SELECT RegistrationNo, STUDENTIMAGENO, FATHERIMAGENO, MOTHERIMAGENO FROM studentuploadfinal"/>-->
    <add key="TEMP_TABLE_QUERY" value="select StaffName from staffuploadnew order by DateOfJoining"/>
    <add key="IMAGE_COLUMN_NAME_FOLDER" value="STUDENTIMAGENO~C:\Images\Student,FATHERIMAGENO~,MOTHERIMAGENO~"/>
    <!--<add key="TEMPLATE_COLUMN" value="RegistrationNo"/>-->
    <add key="TEMPLATE_COLUMN" value="StaffName"/>
    <add key="IMAGE_EXTN" value="jpeg"/>
    <!--Mode can be IMAGE_UPDATE/CREATE_EMPLOYEE_ID-->
    <!--<add key="ACTION" value="IMAGE_UPDATE"/>-->
    <add key="ACTION" value="CREATE_EMPLOYEE_ID"/>
    <add key="TARGET_COLUMNS" value="StaffEmpId"/>
    <add key="TARGET_INDEX_COLUMNS" value="StaffName"/>
    <add key="TARGET_QUERY" value="update staffuploadnew set StaffEmpId=@StaffEmpId where StaffName=@StaffName"/>
  </appSettings>
</configuration>