<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DIResolverPath" value="C:\Users\S787138\Source\Repos\OpManager\OpMgr.TransactionHandler.Runner\DependencyResolver.xml" />
    <add key="LogPath" value="C:\OpMgr.log"/>
    <add key="ActiveModules" value="REGULAR,FINE"/> <!--REGULAR,FINE,LIBRARY_FINE-->
    <add key="Is30IsOneMonth" value="Y"/>
    <add key="Is365IsOneYear" value="Y"/>
  </appSettings>
  <connectionStrings>
    <add name="connString" connectionString="server=35.162.173.249;user id=school;password=password;database=operationsmanager" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>