<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DIResolverPath" value="E:\New Design School Project\OpManager\OperationsManager\DependencyResolver.xml" />
    <add key="LogPath" value="C:\OpMgr.log"/>
  </appSettings>
  <connectionStrings>
    <add name="connString" connectionString="server=35.162.173.249;user id=school;password=password;database=operationsmanager" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>